h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
  color: #d88c00;
  text-shadow: 1px 1px 2px #fff3c0;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*************************************************************************************/
/*                               TARJETAS DE PRODUCTOS                               */
/*************************************************************************************/

#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 28px;
}

.card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 18px rgba(0,0,0,0.1);
  transition: 0.2s ease-in-out;
  position: relative;
}

.card:hover {
  transform: translateY(-4px);
}

.card-img {
  width: 100%;
  height: auto;     
  object-fit: contain; 
  background: #f5f5f5;
  padding: 10px;    
}

.card-content {
  padding: 18px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.card-desc {
  font-size: 14px;
  color: #666;
  line-height: 1.4;
}

.stars {
  margin: 10px 0;
  color: gold;
  font-size: 14px;
}

.price-area {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.btn-cart {
  width: 100%;
  background: #ff9f00;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cart[disabled] {
  background: #cccccc !important;
  color: #777 !important;
  cursor: not-allowed;
  border: none;
}


.btn-cart:hover {
  background: #ff8b00;
}

/**********************************************************/
/**********************************************************/
/**********************************************************/
.filters-container {
    display: flex;
    gap: 15px;
    margin: 30px 0;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.filters-container input,
.filters-container select {
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}


.filters-container label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: #483625;
    font-weight: 600;
}

#search-text {
    flex: 1;
    min-width: 220px;
}

/**********************************************************/
/**********************************************************/
/**********************************************************/
.main-footer {
    background-color: #1a1410;
    color: white;
    margin-top: 100px;
    padding: 60px 20px 20px;
}



